.env
./databases/farmapiel_privacy_policy.docx
./databases/farmapiel_product_list.docx
./databases/farmapiel_shipping_return_policy.docx
./databases/farmapiel_terms_of_service.docx
,/databases/customer_service.pdf
./databases/products_db.csv
